include README.md RELEASING.md requirements.txt
include license.md license_chencrafts.md
recursive-include ztpcraft *.py *.pyx *.md
recursive-include tests *.py
include tools/check_install.py
exclude ztpcraft/bosonic/oscillator_integrals/_oscillator_integrals_1d_quadrature.c
global-exclude *.so *.pyd *.pyc
